		<form method="post" style="margin-top:10px;">
			<td><input type="text" name="username" id="username" placeholder="Username" autofocus /></td>
			<td><input type="password" name="password" id="password" placeholder="Password" /></td>
			<td><input type="submit" name="login" id="login" value="Login" style="margin-top:5px;" /></td>
		</form>
		<br /><hr>
		<b>All logins made using this form are logged, including incorrect logins.
		If a bruit force is detected your IP will be blocked by HablitASE.</b>
	</div>
	
	</body>
</html>